h1{
    font-size: 1.5rem !important;
}
#numberProduct{
    width:50px;
  }
  .productImg {
    width: 100%;
    height: 250px;
    overflow: hidden;
  }

@media(max-width:768px){
    #firstSection {
         padding-top:0rem;
         height: auto;
       }
   }